* {
    margin:0;
    padding:0;
    border:0;
    outline:none;
    box-sizing:border-box;
  
    background:transparent;
  
    text-decoration:none;
    font-family: 'Overpass','Montserrat', sans-serif;

  }

ol, 
ul, 
li {
  display:block;
  list-style:none;
}

table {
  border-collapse: collapse;
  border-spacing:0;
}

a img {
  border: none;
}

button,
a{
  cursor: pointer; 
  color: inherit;
}

textarea{
  resize: none;
}

button, 
input, 
textarea, 
select{
  appearance: none !important; 
  -webkit-appearance: none !important; 
  border-radius: 0;
}
body{
  font-family: 'Overpass','Montserrat', sans-serif;
}

nav{
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: #1a24fb;
  z-index: 100;
}
nav h1{
  display: inline-block;
  font-size: 12px;
  letter-spacing: 0.2em;
  color: #f8f7f3;
  padding-left: 20px;
  padding-top: 12px;
}
#menu-icon{
  font-size: 24px;
  color: #f8f7f3;
  float: right;
  padding-top:6px;
  padding-right:12px;
}

#books{
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  margin-top: 40px;
  padding: 40px 40px;
  flex-direction: row;
  justify-content: center;
  align-items: stretch; 
  flex-wrap: wrap; 
  align-content: flex-start; 
  gap: 100px 20px;
  background-color: #f8f7f3;
}

.book{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  align-content: flex-start;
  width: 350px;
  align-content: flex-start;
  color: #1a24fb;
  padding: 40px;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  border: 2px solid #1a24fb;
}
.num{
  position: absolute;
  top: 5px;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: #f8f7f3;
  text-align: center;
}
.num h2{
  font-size: 24px;
  color: #1a24fb;
}

.book h1{
  font-size: 36px;
  font-weight: 700;
}
.book h3{
  font-size: 12px;
  letter-spacing: 0.2em;
  font-weight: 400;
  margin-bottom: 10px;
}
.book p{
  font-size: 16px;
  font-weight: 400;
}
.book button{
  position: absolute;
  left: 0px;
  bottom: -30px;
  width: 100%;
  height: 18px;
  padding-left: -30px;
  font-size: 14px;
  background-color: #f8f7f3;
  color: #1a24fb;
}
.book button:hover{
  background-color: #1a24fb;
  color: #f8f7f3;
}
#arrow{
  display: block;
  float: right;
  font-size: 18px;
  margin-top: 0;
  padding-top: 1px;
}